.card {
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 20px;

  background: var(--color-secondary-100);
  padding: 18px;
  border-radius: 14px;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

  margin-bottom: 20px;
}

.avatarWrapper {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.avatar {
  width: 200%;
  height: auto;
  object-fit: cover;
  object-position: center 15px;
}

.avatar.bot {
  width: 200%;
  height: 200%;
  object-fit: cover;
  object-position: center 15px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
}

.content strong,
.contentHeading {
  font-weight: 800;
}

.message {
  margin-top: 5px;
  margin-bottom: 17px;
  font-size: 16px;
}

.time {
  font-size: 12px;
  color: #666;
}

.rating {
  display: flex;
  align-items: start;
  justify-content: start;
}

.thumb {
  display: flex;
  margin-left: 10px;
  gap: 10px;
}

.feedback {
  margin-top: 12px;
}

.feedback span {
  margin-left: 10px;
}

.star {
  display: flex;
  margin-left: 15px;
}
