.card {
  background: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin-top: 15px;
}

.card h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.card p {
  margin-top: 8px;
  color: #777;
  font-size: 15px;
}
