:root {
  --font-primary: "Ubuntu", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --border-width: 1px;

  --color-primary-100: #9785ba;
  --color-primary-200: #af9fcd;
  --color-primary-300: #ffffff;

  --color-secondary-100: #d7c7f4;
  --color-secondary-200: #ede4ff;

  --text-light: #ffffff;
  --text-dark: #3c3c3c;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  color: #000000;
}
